version: "3.9"

services:
  frontend:
    build:
      context: ./Frontend
      dockerfile: Dockerfile
    image: pollution-frontend:latest
    ports:
      - "3000:80"
    env_file:
      - .env
    networks:
      - app_network
    restart: unless-stopped


networks:
  app_network:
    driver: bridge
